html {
    background-color: peru;
    font-size: 12px;
    font-family: 'Chango', cursive;
}
body {
    width: 600px;
    margin: 10px auto 40px;
    background-color: saddlebrown;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: green;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
img{
    display: block;
    margin: 0 auto;
}
img:hover {
    border: 3px dotted blue;
}